version: '3.8'

volumes:
  subgraphs_data:
  wp_db_data:

services:
  # --- TASK A SERVICES ---
  mongo:
    image: mongo:4.4
    volumes:
      - ./.mounted/mongo:/data/db
    env_file:
      - ./.env.example
    ports:
      - 27017:27017

  gateway:
    build: ./gateway
    volumes:
      - subgraphs_data:/subgraphs:ro
    env_file:
      - ./.env.example
      - ./gateway/.env.example
    depends_on:
      - interfaces
      - clubs
      - members
      - events
      - users

  nginx:
    build: ./nginx
    volumes:
      - ./nginx:/etc/nginx/conf.d
    ports:
      - 80:80
    depends_on:
      - gateway
      - web

  web:
    build:
      context: ./web
      dockerfile: dev.Dockerfile
      args:
        - ENV=development
    volumes:
      - ./web:/web
    env_file:
      - ./.env.example
      - ./web/.env.example

  interfaces:
    build: ./subgraphs/interfaces
    volumes:
      - subgraphs_data:/subgraphs
      - ./config:/app/config
    depends_on:
      - mongo
    env_file:
      - ./.env.example
      - ./subgraphs/interfaces/.env.example

  clubs:
    build: ./subgraphs/clubs
    volumes:
      - subgraphs_data:/subgraphs
      - ./config:/app/config
    depends_on:
      - mongo
    env_file:
      - ./.env.example

  members:
    build: ./subgraphs/members
    volumes:
      - subgraphs_data:/subgraphs
      - ./config:/app/config
    depends_on:
      - mongo
    env_file:
      - ./.env.example

  events:
    build: ./subgraphs/events
    volumes:
      - subgraphs_data:/subgraphs
      - ./config:/app/config
    depends_on:
      - mongo
    env_file:
      - ./.env.example

  users:
    build: ./subgraphs/users
    volumes:
      - subgraphs_data:/subgraphs
      - ./config:/app/config
    depends_on:
      - mongo
    env_file:
      - ./.env.example
    dns:
      - 10.4.20.204

  # --- TASK B SERVICES (WordPress) ---
  wp-db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: wordpress
    volumes:
      - wp_db_data:/var/lib/mysql

  wordpress:
    image: wordpress:latest
    restart: always
    depends_on:
      - wp-db
      - gateway
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: wp-db:3306
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: password
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - ./wp-content:/var/www/html/wp-content